/*
  Class styles
*/
.content{
 display: flex;
 align-items: center;
 justify-content: center;
 vertical-align: middle;
}
.curious_btn{
  padding: 20px;
  margin: 20px;
}
.general_text{
  position: absolute;
   font-family:Calibri;
   font-size:40px;
}
.marble_class{
  position: absolute;
  width:100px;
  height:100px;
  border-radius:50px;
  background-color:mediumBlue;
}
.phase {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 700px;
}

/*
  ID styles
*/
#jar_main{
  position: absolute;
  top: 50px;
  width: 475px;
  height: 650px;
  margin-left:5px;
  background-color:#DBDADB;
  border-radius: 0% 0% 15% 15%;
  border-style: solid;
}
#legend_val1{
  top:305px;
  left:820px;
}

#legend_val2{
  top:425px;
  left:820px;
}
#marble_legend_col1{
  top:  280px;
  left: 700px;
  background-color:firebrick;
}
#marble_legend_col2{
  top:  400px;
  left: 700px;
  background-color:mediumBlue;
}
#outcome_marble{
  position: absolute;
  width: 100px;
  height:100px;
  border-radius:50px;
  top:  120px;
  left: 300px;
  margin-top:-30px;
  background-color:firebrick;
}
#outcome_points{
  position: relative;
  font-family:Calibri;
  font-size:40px;
  top:200px;
  left:10px;

}
#phase_1,
#phase_2,
#phase_3,
#goodbye{
  display:none;
}
#top_circle{
  position: relative;
  width: 485px;
  height:100px;
  border-radius:50%;
  background-color:#DBDADB;
  border-style: solid;
}
